CONFIG_MODULES=y
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_ipq40xx_generic_DEVICE_asus_rt-acrh17=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_HAS_DEVICES=y
CONFIG_TARGET_BOARD="ipq40xx"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_PROFILE="DEVICE_asus_rt-acrh17"
CONFIG_TARGET_ARCH_PACKAGES="arm_cortex-a7_neon-vfpv4"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe"
CONFIG_CPU_TYPE="cortex-a7+neon-vfpv4"
CONFIG_LINUX_4_14=y
CONFIG_DEFAULT_ath10k-firmware-qca4019=y
CONFIG_DEFAULT_ath10k-firmware-qca9984=y

CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_ksmbd-utils=y
# CONFIG_PACKAGE_acme-dnsapi=y
# Node.js
# CONFIG_PACKAGE_node is not set
# Configuration
# CONFIG_NODEJS_16 is not set
# end of Configuration

CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
# CONFIG_DEFAULT_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_DEFAULT_kmod-usb-dwc3-qcom is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom is not set
# CONFIG_DEFAULT_kmod-usb3 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_kmod-usb2-pci is not set
# CONFIG_PACKAGE_kmod-usb-uhci is not set
# CONFIG_PACKAGE_kmod-usb-ehci is not set
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_usbutils=y

CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-app-smartinfo=y
CONFIG_PACKAGE_luci-app-transmission=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-ttyd=y 
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-usb3disable=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-unblockneteasemusic=y
# CONFIG_PACKAGE_luci-app-ksmbd is not set
# CONFIG_PACKAGE_luci-app-rclone=y
# CONFIG_PACKAGE_luci-app-acme=y
# CONFIG_PACKAGE_luci-app-adguardhome=y
